.create_new_template_input_container {
    display: flex;
    flex-direction: column;
}

.new_template_container {
    display: flex;
    flex-direction: column;
    padding: 0 3em 0em 3em;
    width: 100%;
    height: 100%;
}

.main_container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1em;
    max-height: 85%;
}
.section_insertor_container {
    // flex: 5 auto 0px;
    flex-basis: 0;
    flex-grow: 2;
}

.ck_editor_container_template {
    flex-basis: 0;
    flex-grow: 5;
    width: 0px;
    margin-left: 4em;
    height: 100%;
    border: 1px solid hsl(0, 0%, 77%);
    display: flex;
    flex-direction: column;
}

.ck-editor__editable_inline {
    min-height: 30em;
    overflow-y: scroll;
}

.ck_editor_template_editable {
    padding-top: 5em;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(242, 242, 242);
    flex-grow: 1;
    max-height: 100%;
    overflow-y: scroll;
}

.ck_editor_template_editable > .ck-editor__editable_inline {
    max-height: unset;
    background-color: white;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
    min-height: 100%;
}
