table {
    border-spacing: 0;
    border: 1px solid black;

    tr {
        :last-child {
            td {
                border-bottom: 0;
            }
        }
    }

    th {
        padding: 0.5rem;
        background-color: #ffffff;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    td {
        margin: 0;
        padding: 0.5rem;
        background-color: #ffffff;
        opacity: 0.6;
        border-bottom: 1px solid black;
        border-right: 1px solid black;

        :last-child {
            border-right: 0;
        }
    }
}
